html {
  height: 100%;
  /*overflow: hidden;*/
}

body {
  padding: 0px;
  margin: 0px;
  background-color: #1A1A1A;
  color: #ccc;
  font-family: 'Goudy Booklet`ter 1911', serif;
  height: 100%;
}

.titleFont {
  font-family: 'Ruda', sans-serif;
}

.copyFont {
  font-family: 'Goudy Bookletter 1911', serif;
}

.hardFont {
  font-family: 'Raleway', sans-serif;
}

.color1 {
  color: #FFC373;
}

.color2 {
  color: #FFAD40;
}

.color3 {
  color: #FF9200;
}

.color4 {
  color: #BF8230;
}

.color5 {
  color: #A65F00;
}


/**
* Header bar
*/

div.headerBar {
  padding: 0px;
  margin: 0px;
  position: fixed;
  bottom: 0px;
  background-color: #111;
  width: 100%;
  text-align: center;
}

div.headerBar p {
  display: inline;
  margin-left: 2em;
  margin-right: 1em;
}

div.headerBar h1 {
  margin: 0px;
  padding: 0px;
  display: inline;
  font-size: 2em;
}


div.headerBar form {
  display: inline;
}

div.headerBar input {
  display: inline;
}

/**
* Story rendering
*/
p.story {
  margin: 0px;
  display: block;

  font-family: 'Raleway', sans-serif;
  width: 8em;
  height: 2.5em;
  vertical-align: top;

  color: #ddd;

  background-color: #222;
  overflow: hidden;
}

p.story a {
  opacity: 0.0;
}

p.story:hover {
  height: 8em;
}

p.story:hover a {
  opacity: 0.8;
}
/**
* Columns and timelining
*/

div#storyColumn {
  width: 100%;
  height: 100%;
  margin: 0px;
  float: left;
  display: inline-block;
  background-color: #111;
}


div.storiesColumnContainer {
  height: 100px;
  display: table-cell;
  vertical-align: top;
  margin: 0px;
}

div.storiesColumn {
  width: 100%;
  display:table-cell;
  overflow: scroll;
  height: 100%;
  padding-right: 15px;
  vertical-align: top;
}

div#tinyStoriesColumnContainer {
  width: 10%;
}

div#smallStoriesColumnContainer {
  width: 15%;
}

div#mediumStoriesColumnContainer {
  width: 20%;
}

div#largeStoriesColumnContainer {
  width: 25%;
}



div#tinyStoriesColumn {
  background-color: yellow;
  font-size: 0.5em;
}

div#smallStoriesColumn {
  font-size: 1em;
}

div#mediumStoriesColumn {
  font-size: 2em;
}

div#largeStoriesColumn {

  background-color: pink;
  font-size: 3em;
}


.hardShadow {
  text-shadow: 1px 1px 2px #222;
}


/**
* More info/rank bar
*/
div.detailsBar {
  width: 100%;
  minimum-height: 128px;
  background-color: #111;
  border-top: 2px solid #0A0A0A;
  border-bottom: 2px solid #0A0A0A;

}