body {
  padding: 0px;
  margin: 0px;
  background-color: #1A1A1A;
  color: #ccc;
}

.titlefont {
  font-family: 'Ruda', sans-serif;
}

.copyfont {
  font-family: 'Goudy Bookletter 1911', serif;
}

.color1 {
 color: #BD63D4;
}

.color2 {
 color: #B53AD4;
}

.color3 {
  color: #8805A8;
}

.color4 {
  color: #6C227E;
}

.color5 {
  color: #58026D
}


/**
 * Header bar
 */

div.headerBar {
  padding: 0px;
  margin: 0px;

  background-color: #111;
  height: 2em;
}

div.headerBar h1 {
  margin: 0px;
  padding: 0px;
  font-size: 2em;
  float: left;
}

div.headerBar ul {
  margin: 0px;
  padding: 0px;

  list-style: none;
}

div.headerBar li {
  margin: 0px;
  padding: 0px;
}

div.headerBar li a {

}