body {
  padding: 0px;
  margin: 0px;
  background-color: #1A1A1A;
  color: #ccc;
  font-family: 'Goudy Booklet`ter 1911', serif;
}

.titleFont {
  font-family: 'Ruda', sans-serif;
}

.copyFont {
  font-family: 'Goudy Bookletter 1911', serif;
}

.hardFont {
  font-family: 'Raleway', sans-serif;
}

.color1 {
 color: #FFC373;
}

.color2 {
 color: #FFAD40;
}

.color3 {
  color: #FF9200;
}

.color4 {
  color: #BF8230;
}

.color5 {
  color: #A65F00;
}


/**
 * Header bar
 */

div.headerBar {
  padding: 0px;
  margin: 0px;

  background-color: #111;
}

div.headerBar p {
  display: inline;
  margin-left: 2em;
  margin-right: 1em;
}

div.headerBar h1 {
  margin: 0px;
  padding: 0px;
  display: inline;

  font-size: 2em;
}


div.headerBar form {
  display: inline;
}

div.headerBar input {
  display: inline;
}

/**
 * Story rendering
 */
p.story {
  margin: 0px;
  display: inline-block;

  font-family: 'Raleway', sans-serif;
  width: 8em;
  height: 8em;
  vertical-align: top;

  color: #ddd;

  background-color: #222;
  overflow: hidden;
}

div.stories {
overflow-x: scroll;
}

div#tinyStories {
  font-size: 0.5em;
}

div#smallStories {
  font-size: 1em;
}

div#mediumStories {
  font-size: 2em;
}

div#largeStories {
  font-size: 3em;
}

p.story:hover {
  font-size: 4em;
}

.hardShadow {
  text-shadow: 1px 1px 2px #222;
}


/**
 * More info/rank bar
 */
div.detailsBar {
  width: 100%;
  minimum-height: 128px;
  background-color: #111;
  border-top: 2px solid #0A0A0A;
  border-bottom: 2px solid #0A0A0A;

}